In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kerala.csv')
df.head()

,SUBDIVISION,YEAR,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,ANNUAL RAINFALL,floods
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [25]:
df.iloc[0,10]

197.7

In [27]:
df.columns

Index(['SUBDIVISION', 'YEAR', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'oct', 'nov', 'dec', ' ANNUAL RAINFALL', 'floods'],
      dtype='object')

In [3]:
import joblib
model  = joblib.load('rfmodel.joblib')